{% extends "account.html" %}
{% load account_tags %}

{% block sub_head %}
    <meta http-equiv="refresh" content="60">
{% endblock %}

{% block account %}

    <div class="row">

        <div class="text-center">
            <h2>Account Home</h2>
        </div>

        <h3 class="text-success">Total: ${{ total_value }} USD</h3>

        <table class="table table-hover table-condensed table-striped">
            <tr>
                <th>Account</th><th>Balance</th><th>USD Value</th>
            </tr>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.currency }}</td>
                    <td>{{ account.balance|trim_balance:6 }}</td>
                    <td>${{ account.value }}</td>
                </tr>
            {% endfor %}
        </table>

        <p>
            Updated: <strong>{% now "M jS \a\t g:i A T" %}</strong>
            <br>
            Time Since Last Refresh: <label id="minutes">00</label>:<label id="seconds">00</label>
        </p>

        {% if messages %}
            <hr>
            <div id="messages">
                <p></p>
                <ul class="list-group text-center">
                    {% for message in messages %}
                        <li class="list-group-item list-group-item-{{ message.extra_tags }}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <hr>

        <p class="text-center"><small>Page automatically refreshes every 60 seconds.</small></p>

        <a href="." class="btn btn-block btn-lg btn-success center-block" role="button">
            Refresh Now <i class="fa fa-refresh" aria-hidden="true"></i>
        </a>

    </div>

{% endblock %}
